# Ignore distribution and build folders
/dist/
/build/
/*.egg-info/

# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment directories
venv/
env/
.venv/
.env/

# IDE/editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
*.swp
*.bak
*.tmp
